@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* @import "nullstyle.css"; */
body .container .text__block5 .block5__content .title, body .container .text__block4 .block4__content .content__blockCenter .content__text .title, body .container .text__block3 .block3__content .content__leftBlock .content__text .text__field .title, body .container .text__block2 .block2__content .content__rightBlock .content__text .title, body .container .text__block1 .block1_content .title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: center;
  color: #353738;
  text-transform: uppercase;
}

body .container .text__block4 .block4__content .content__blockCenter .content__text, body .container .text__block3 .block3__content .content__leftBlock .content__text .text__field .text__text, body .container .text__block2 .block2__content .content__rightBlock .content__text .text_text, body .container .text__block1 .block1_content .block1__text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.89;
  text-align: center;
  color: #848789;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
body .container {
  position: relative;
  max-width: 1599px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 30px auto;
}
body .container .header .header__backgroud {
  position: absolute;
  margin: 0 0 0 -800px;
  z-index: -1;
}
body .container .header .header__content {
  display: flex;
  justify-content: center;
}
body .container .header .header__menu {
  position: absolute;
  display: flex;
  max-height: 800px;
  padding: 15px 0 0 0;
}
body .container .header .header__menu .menu__logo {
  padding: 0 64px;
}
body .container .header .header__menu .menu__item .item {
  display: inline-block;
  padding: 20px 25px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.6px;
  text-align: center;
  color: #4d4959;
  text-shadow: 0px 0px 1px #4d4959;
}
body .container .header .header__menu .menu__item .item a {
  text-decoration: none;
}
body .container .text__block1 {
  margin: 800px 0 0 0;
}
body .container .text__block1 .block1_content {
  padding: 117px 100px 142px 100px;
  background-color: #f7f7f7;
}
body .container .text__block1 .block1_content .block1__icon {
  text-align: center;
}
body .container .text__block1 .block1_content .block1__title {
  padding: 34px 0 35px 0;
}
body .container .text__block2 {
  /* display: flex;
  flex-direction: column; */
}
body .container .text__block2 .block2__content {
  display: flex;
}
body .container .text__block2 .block2__content .content__imageLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
body .container .text__block2 .block2__content .content__imageLeft .imageLeft__logo {
  position: absolute;
}
body .container .text__block2 .block2__content .content__rightBlock .content__text {
  max-width: 398px;
  margin: 0 auto;
}
body .container .text__block2 .block2__content .content__rightBlock .content__text .text__icon {
  text-align: center;
  padding: 32px 0 27px 0;
}
body .container .text__block2 .block2__content .content__rightBlock .content__text .text_text {
  margin: 17px 0 0 0;
  text-align: justify;
}
body .container .text__block2 .block2__content .content__rightBlock .content__text .text_text .text__text_ {
  text-align: center;
  margin: 0 0 30px 0;
}
body .container .text__block3 {
  margin: -5px 0 0 0;
}
body .container .text__block3 .block3__content {
  display: flex;
}
body .container .text__block3 .block3__content .content__leftBlock {
  max-height: 590px;
  max-width: 534px;
}
body .container .text__block3 .block3__content .content__leftBlock .content__text {
  max-width: 398px;
  margin: 0 auto;
}
body .container .text__block3 .block3__content .content__leftBlock .content__text .text__field .text__icon {
  text-align: center;
  padding: 40px 0 22px 0;
}
body .container .text__block3 .block3__content .content__leftBlock .content__text .text__field .text__text {
  text-align: justify;
  margin: 17px 0 0 0;
}
body .container .text__block3 .block3__content .content__leftBlock .content__text .text__field .text__text_ {
  text-align: center;
  margin: 0 0 25px 0;
}
body .container .text__block3 .block3__content .content__imagrRight {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1067px;
  max-height: 600px;
}
body .container .text__block3 .block3__content .content__imagrRight .imageRight__logo {
  position: absolute;
}
body .container .text__block4 {
  max-height: 600px;
}
body .container .text__block4 .block4__content {
  display: flex;
}
body .container .text__block4 .block4__content .content__blockLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px 0 0 0;
}
body .container .text__block4 .block4__content .content__blockLeft .blockLegft__logo {
  position: absolute;
}
body .container .text__block4 .block4__content .content__blockCenter {
  position: relative;
}
body .container .text__block4 .block4__content .content__blockCenter .content__text {
  margin: 0 auto;
  max-width: 397px;
  max-height: 411px;
}
body .container .text__block4 .block4__content .content__blockCenter .content__text .text__icon {
  padding: 40px 0 22px 0;
}
body .container .text__block4 .block4__content .content__blockCenter .content__text .text__text {
  margin: 17px 0 0 0;
}
body .container .text__block4 .block4__content .content__blockCenter .content__text .text__text_ {
  margin: 0 0 17px 0;
}
body .container .text__block4 .block4__content .content__blockCenter .content__imageCenter {
  max-height: 180px;
  min-width: 534px;
}
body .container .text__block5 .block5__content {
  margin: 0 -281px;
  padding: 124px 310px 64px 310px;
  background-color: #f7f7f7;
}
body .container .text__block5 .block5__content .block5__icon {
  text-align: center;
}
body .container .text__block5 .block5__content .text__title span {
  color: #848789;
}
body .container .text__block5 .block5__content .title {
  text-transform: none;
  padding: 37px 0 27px 0;
}
body .container .text__block5 .block5__content .text__text {
  margin: 0 auto;
  max-width: 1036px;
  max-height: 55px;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 1.42;
  color: #848789;
}
body .container .text__block5 .block5__content .block__dotSlider {
  display: flex;
  justify-content: space-between;
  max-width: 51px;
  margin: 0 auto;
  padding: 104px 0 0 0;
}
body .container .text__block5 .block5__content .block__dotSlider .dot1 {
  border: 1px solid #a9afb3;
  border-radius: 50%;
  background-color: #858585;
  min-width: 10px;
  min-height: 10px;
}
body .container .text__block5 .block5__content .block__dotSlider .dot2 {
  border: 1px solid #a9afb3;
  border-radius: 50%;
  min-width: 10px;
  min-height: 10px;
}
body .container .text__block5 .block5__content .block__dotSlider .dot3 {
  border: 1px solid #a9afb3;
  border-radius: 50%;
  min-width: 10px;
  min-height: 10px;
}
body .container .text__block6 {
  font-size: 0;
  display: flex;
}
body .container .text__block6 .block6__leftBlock .block6__itemLeft {
  width: 532px;
  height: 533px;
}
body .container .text__block6 .block6__leftBlock .block6__itemLeft .block6__itemSmall {
  width: 266px;
  height: 266px;
}
body .container .text__block6 .block6__leftBlock .block6__itemLeft .block6__itemBig {
  width: 532px;
  height: 266px;
}
body .container .text__block6 .block6__centerBlock {
  width: 533px;
  height: 533px;
}
body .container .text__block6 .block6__centerBlock .block6__itemCenter {
  display: block;
}
body .container .text__block6 .block6__centerBlock .block6__itemCenter .block6__CenterImage {
  width: 266px;
  height: 533px;
}
body .container .text__block6 .block6__rightBlock .block6__itemRight {
  width: 532px;
  height: 533px;
}
body .container .text__block6 .block6__rightBlock .block6__itemRight .block6__itemBig {
  width: 533px;
  height: 266px;
}
body .container .text__block6 .block6__rightBlock .block6__itemRight .block6__itemSmall {
  width: 266px;
  height: 266px;
}
body .container .text__block7 {
  background-color: #282f35;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .text__block7 .block7__button {
  text-decoration: none;
  color: #ffffff;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 3.7;
  letter-spacing: 2.8px;
  text-align: center;
  color: #fff;
}
body .container .text__block8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 109px 0 111px 0;
}
body .container .text__block8 .block8__logo {
  width: 85px;
  height: 94px;
}
body .container .text__block8 .block8__title {
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  color: #848789;
  padding: 39px 0 35px 0;
}
body .container .text__block8 .block8__input {
  width: 400px;
  height: 69px;
  border: solid 1px #d3d7d9;
}
body .container .text__block8 input {
  padding: 0 0 0 28px;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: normal;
  color: #929292;
}
body .container .text__block8 .block8__contact {
  display: flex;
}
body .container .text__block8 .block8__contact .block8__button {
  width: 126px;
  height: 70px;
  background-color: #64c29e;
  text-align: center;
  line-height: 3;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 0 8px;
}
body .container .text__block8 .block8__contact .block8__button a {
  text-decoration: none;
  color: #fff;
}
body .container .footer .footer_content {
  display: flex;
  margin: 0 -249px;
  padding: 99px 280px 103px 280px;
  background-color: #f7f7f7;
}
body .container .footer .footer_content .footer__contact {
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: left;
  color: #848789;
}
body .container .footer .footer_content .footer__contact span {
  font-style: normal;
  font-weight: 700;
}
body .container .footer .footer_content .footer__social {
  padding: 0 246px;
}
body .container .footer .footer_content .footer__social img {
  padding: 9px 9px 5px 0;
}
body .container .footer .footer_content .footer__autor {
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: right;
  color: #848789;
  padding-top: 9px;
}
body .container .footer .footer_content .footer__autor img {
  font-size: 0;
  padding: 0 0 0 9px;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */